/*************** VARIABLES ****************/

$green: #009651;
$light-green: #0ec049;
$grey-btn: #777777;


  /*************** MIXINS *************/

@mixin transition($duration) {
  transition: $duration+s ease all;
}

/*************** GENERAL ***************/

body{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background: #fafafa;
}

body, html{
  height: 100%;
}

.no-margin{
  margin:0;
}

.no-padding{
  padding:0;
}

a{
  text-decoration: none;
  color:$green;
  
  &:hover, &:focus, &:active, &:visited {
    outline:none;
    text-decoration:none;
  }

}

label {
    font-weight:400;
    font-size: 0.8em;
    color:grey;
}

.btn-primary {
    color: $green;
    background-color:transparent;
    border-color: $light-green;
    padding: 10px 26px;
    line-height: 27px;
    border-radius: 50px;
    text-transform:uppercase;
    outline: 0;
    @include transition(.3);
    &:hover, &:focus, &:active, &:visited {
        background-color: $light-green!important;
        border-color: $light-green !important;
    }

}

.content {
    margin-top: 50px;
}

.rates{
  h3{
    font-weight: 300;
    color:#8a8a8a;
  }

  i {
    cursor: pointer;
    color: $green;
    line-height: 20px;
    &:first-child {
      padding-left: 0;
    }
  }

  small{
    font-weight: 300;
    font-size:13px;
    color:#898989;
  }
}

.profile-ctas{
  margin-top:20px;
  li{
    margin-bottom: 10px;
  }
}

.product-slider{
  .slides{
    li{
      height: 300px;
    }
  }
}

.dropzone{
  border:1px solid $light-green;
  border-radius: 5px;
  .dz-message{
    color:$green;
    font-weight: 200;
  }
  .dz-progress{
    margin-top: 27px !important;
  }
}


.flex-control-nav {
  background:none;
  bottom:5px;
  &.flex-control-paging{
      a {
          background:grey;
          border: 1px solid white;
          &.flex-active {
              background:$green;

          }
          &:hover {
              background:$green;
          }
      }
  }
}

  .sell-products{
    margin-bottom: 20px;
    li{
      border:1px solid $green;
      border-radius: 10px;
      padding:2px 10px;
      font-size:12px;
      color:#777777;
      cursor: pointer;
      @include transition(.2);

      &:hover{
        background: $green;
        color:white;
      }
    }
  }

.main-info {
    color:#777777;
    h1{
        font-weight: 200;
    }
    span{
        color:#8a8a8a;
        font-size:18px;
        font-weight: 400;
    }
}

.profile-list{
    padding-left:15px;
    li{
        font-weight: 300;
    }
}

  .form-control {
      height:42px;
      border-color: $light-green;
      border-radius:50px;

  }

  .squaredFour {
    position: relative;
    margin: 10px auto;
    span {
        font-size:0.8em;
        vertical-align:top;
        margin-left:7px;
        color: grey;
    }

    label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background: #fcfff4;
      background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      border-radius: 4px;
      border: 1px solid $green;
      &:after {
        content: '';
        width: 11px;
        height: 7px;
        position: absolute;
        top: 4px;
        left: 4px;
        border: 3px solid grey;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }

    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }
  }


.grey-btn{
  color:$grey-btn;
}

.filters{
  margin-bottom: 20px;
  li:not(.input){
    border:1px solid $green;
    border-radius: 50px;
    padding:5px 20px;
    margin-right: 10px;
    color:#777777;
    cursor: pointer;
    @include transition(.3);
    &:hover, &.active{
      color:white;
      background: $green;
    }
  }
  h1{
    font-size:27px;
    float:left;
    color:#777777;
    font-weight: 200;
    margin-right: 10px;
  }
  .input{
    input{
      height: 32px;
      min-width: 300px;
    }
  }
}

.header-title{
  font-weight: 200;
  color: #777777;
  margin-bottom: 40px;
}

.form-control {
  height:42px;
  border-color: $light-green;
  border-radius:50px;

}
/************* HEADER ****************/

header{
  height: 85px;
  padding-top:30px;
  border-top:6px solid $green;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  
    background: #fff;
    font-size:1.2em;
  color:white;
  .logo {
      margin-top:3px;
      display:inline-block;
  }
  .list-inline > li {
      font-weight:400;
      float:left;
      padding-left:10px;
      
      a {
            border-color:$green;
            color:$green;
            margin:0;
            vertical-align:top;
            border-radius:34px;
            padding: 6px 20px;
            font-size:0.8em;
            line-height:20px;
      }

  }

}

.masonry-brick{
  width: 25%;
  height: 250px;
  cursor: pointer;
  border:1px solid white;
  border-right: none;
  &.full{
    height: 420px;
    border:none;
  }
  .item-overlay{
    @include transition(.2);
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    display: table;
    opacity: 0;
    span{
      text-align: center;
      margin:auto;
      display: table-cell;
      vertical-align: middle;
      color:white;
      left:0;
      right:0;
      text-transform: uppercase;
      font-size:21px;
    }
  }
  &:hover{
    .item-overlay{
      opacity: 1;
    }
  }
  .img-wrap{
    width: 100%;
    height: 250px;
    border:1px solid white;
    border-right: none;
  }
  .item-info{
    margin-top:10px;
    text-align: center;
    ul{
      margin-bottom:10px;
      li{
        font-size:14px;
        color:#444;
        text-transform: uppercase;
        span{
          color:$light-green;
        }
      }
    }

    button{
      outline: 0;
      margin-top: 10px;
      padding:4px 20px;
    }
  }
}

/************** HOME *****************/

#farmer-page {
  .profile-img {
    width: 100%;
    height: 300px;
    border-radius: 2px;
    position: relative;

    &:hover{
      .change-image{
        opacity: 1;
      }
    }
  }


  .farmer-products{
    h2{
      margin:30px 0 0 0;
      font-size:24px;
      color:#777777;
      font-weight: 300;
    }
    hr{
      margin-top: 5px;
    }
  }

  .change-image{
    @include transition(.4);
    opacity: 0;
    cursor: pointer;
    text-align: center;
    position: absolute;
    height: 40px;
    background: $light-green;
    left:0;
    right:0;
    bottom:0;
    color:white;
    font-weight: 300;
    i{
      position: relative;
      margin-right: 10px;
      top:7px;
    }
  }

}

.reviews{
  margin-bottom: 20px;
  .item{
    margin-top:20px;
    .media-left{
      min-width: 60px;
      height: 60px;
      float:left;
      border-radius: 60px;
    }
    .media-body{
      padding-left: 10px;
      color:#777777;
      .media-heading{
        margin-bottom: 0;
        font-weight: 300;
      }
    }
    i{
      font-size:16px;
    }
  }
}

.form-general {
  width: 400px;
  margin:0 auto 0 auto;
  font-size:1.4em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius:7px;
  background: #fff;
  padding:30px 20px;
  box-shadow: 0 0 8px rgba(0,0,0, .12);

  &.add-product{
    width: 800px;
    min-height: 550px;
  }

  textarea{
    border-radius: 5px;
    resize:none;
    min-height: 150px;
  }

  .relative{
    position: relative;
    input{
      padding-right:50px;
    }
    span{
      font-size:14px;
      color: #777777;
      right:10px;
      bottom:10px;
      position: absolute;
    }
    select{
      font-size:14px;
      color:#777;
      outline: 0;
      position: absolute;
      right:10px;
      bottom:10px;
      border:none;
    }
  }
}

#product-page{
    .buy {
        p, h5 {
            font-size:1.3em;
            line-height:1.3em;
            margin:0;
            vertical-align:middle;
            height:20px;
            font-weight:400;
        }
       
        .left-column {
            width:120px;
            text-align:right;
                border-right: 1px solid #eee;
        }

        p, .moneda, .unit {

            font-weight:600;
        }

        td {
            border:none;
        }

    }

  .squaredFour {
    position: relative;
    margin: 10px auto;
    span {
        font-size:0.8em;
        vertical-align:top;
        margin-left:7px;
        color: grey;
    }

    label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background: #fcfff4;
      background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      border-radius: 4px;
      border: 1px solid $green;
      &:after {
        content: '';
        width: 11px;
        height: 7px;
        position: absolute;
        top: 4px;
        left: 4px;
        border: 3px solid grey;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }

    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }
  }
}

#tags{
  outline: 0;
  .tags{
    min-height: 42px;
    padding-top: 5px;
    outline: 0;
    padding-left: 5px;
    border-color: $light-green;
    border-radius: 5px;
    box-shadow: none;
    .tag-list{
      float:left;
    }
  }
  .tag-item{
    border:none;
    background: $light-green;
    color:white;
    border-radius: 20px;
    a{
      color:white;
    }
  }
}