<div id="add-product" class="container content">
    <div class="row">
        <form class="add-product form-general">
            <fieldset class="form-group">
                <label for="name">Nume produs</label>
                <input name="name" type="text" class="form-control" id="name" placeholder="Introduce nume">
            </fieldset>
            <fieldset class="form-group">
                <label for="categorie">Categorie</label>
                <select name="category" class="form-control" id="categorie">
                    <option value="-1">Adauga produs</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <label for="tags">Taguri</label>
                <input name="tags" type="text" class="form-control" id="tags" placeholder="Adauga taguri">
            </fieldset>

            <button type="submit" class="btn btn-primary">Adauga produs</button>
        </form>
    </div>
</div>