<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 email-wrapper">
            <form class="sign-in">
                <fieldset class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    <small class="text-muted">We'll never share your email with anyone else.</small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </fieldset>
                <button type="submit" class="btn btn-primary">sign-in</button>
            </form>
        </div>
    </div>
</div>