<div class="container content">
    <div class="row">
        <div class="email-wrapper form-general">
            <form class="sign-in">
                <fieldset class="form-group">
                    <label for="email">Adresa email</label>
                    <input type="email" class="form-control" id="email" placeholder="Introdu email">
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Parola</label>
                    <input type="password" class="form-control" id="password" placeholder="Parola">
                    <div class="squaredFour">
                        <input type="checkbox" value="None" id="squaredFour" name="check" />
                        <label for="squaredFour"></label>
                        <span>Tine-ma minte!</span>
                    </div>
                </fieldset>
                
                <button type="submit" class="btn btn-primary">logheaza-te</button>
            </form>
        </div>
    </div>
</div>