<div id="products" class="container content">

    <div class="filters">
        <h1 class="no-margin">Filtre:</h1>
        <ul class="list-inline no-margin">
            <li ng-repeat="filter in categories" ng-click="setFilter(filter.name)">{{ filter.name }}</li>
        </ul>
    </div>

    <div column-width="1" preserve-order masonry>
        <div ng-repeat="product in productItems" data-category="{{product.category}}" class="masonry-brick" liquid>
            <img ng-src="{{product.image}}"/>
            <div class="item-overlay">
                <span>{{product.name}}</span>
            </div>
        </div>
    </div>
</div>