<div id="product-page" class="container content">
    <div class="row">
        <div class="col-xs-4">
            <flex-slider class="product-slider" slide="product in productImages track by $index" animation="slide">
                <li liquid>
                    <img ng-src="{{product}}">
                </li>
            </flex-slider>
        </div>
        <div class="col-xs-5">
            <div class="main-info">
                <h1 class="no-margin">Cartofi aurii</h1>
                <span>Livrare: in Timisoara</span>
                <hr />

                <ul class="list-unstyled no-margin product-info">
                    <li>Pret: <span>220 RON</span></li>
                    <li>Cantitate: <input name="quantity" class="form-control inline"/></li>
                    <li>Disponibilitate: <span>10 bucati</span></li>
                    <li>Timp de livrare: <span>2 zile</span></li>
                    <li>Comanda telefonic: <span>0755 123 567</span></li>
                    <li>Ai vreo intrebare? <span><a href="#">Intreaba vanzatorul</a></span></li>
                    <li><button type="button" class="btn btn-primary">Adauga in cos</button></li>
                </ul>

            </div>
        </div>
        <div class="col-xs-3">
            <div class="pull-right">
                <div class="rates">
                    <h3 class="no-margin">Calificativ</h3>
                    <div star-rating rating="" click="" ></div>
                    <small>(200 calificative pozitive)</small>
                </div>
                <div class="profile-ctas">
                    <ul class="list-unstyled no-margin">
                        <li><button type="button" class="btn btn-primary">Vizualizare profil</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr/>
            <h2 class="product-desc">Descriere:</h2>
            <p>ice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată în anii '60 odată cu ieşirea colilor Letras</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr/>
            <h2 class="product-desc">Produse similare:</h2>
            <div column-width="1" preserve-order masonry>
                <div ng-repeat="item in similarProducts" class="masonry-brick" liquid>
                    <img ng-src="{{item.image}}" />
                    <div class="item-overlay">
                        <span>{{item.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>