<div id="product-page" class="container content">
    <div class="row">
        <div class="col-xs-4">
            <flex-slider class="product-slider" slide="product in productImages track by $index" animation="slide">
                <li liquid>
                    <img ng-src="{{product}}">
                </li>
            </flex-slider>
        </div>
        <div class="col-xs-5">
            <div class="main-info">
                <h1 class="no-margin">Cartofi aurii</h1>
                <span>Locatie de baza: Timisoara</span>
                <hr />
                <span>Locatii disponibile pentru transport:</span>
                <ol class="no-padding profile-list">
                    <li>Drobeta Tr. Severin</li>
                    <li>Sibiu</li>
                    <li>Constanta</li>
                </ol>
                <hr />
                <form class="buy">

                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td class="left-column">
                                    <h5>Pret:</h5>
                                </td>

                                <td>
                                    <p class="price">100 <span class="moneda">lei</span> <span class="unit">/ tona</span></p>
                                </td>
                            </tr>   
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 text-right">
                            
                        </div>
                        <div class="col-xs-9">
                             
                        </div>
                    </div>
                    
                    <fieldset class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        <div class="squaredFour">
                            <input type="checkbox" value="None" id="squaredFour" name="check" />
                            <label for="squaredFour"></label>
                            <span>Tine-ma minte!</span>
                        </div>
                    </fieldset>

                    <button type="submit" class="btn btn-primary">logheaza-te</button>
                </form>
                <button type="button" class="btn btn-primary">Adauga produs</button>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="pull-right">
                <div class="rates">
                    <h3 class="no-margin">Calificativ</h3>
                    <div star-rating rating="" click="" ></div>
                    <small>(200 calificative pozitive)</small>
                </div>
                <div class="profile-ctas">
                    <ul class="list-unstyled no-margin">
                        <li><button type="button" class="btn btn-primary">Vizualizare profil</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>